<!doctype html>
<html>
  <head>
    <title>ReadableFeeds 0.0.4</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body { background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_surface.png); }
      .well { background-color: #FFF !important; }
    </style>
  </head>
  <body>
    <div class="container" style="margin-top: 20px">
      <div class="well">
	      <div class="page-header">
		      <h1>ReadableFeeds <small>0.0.4</small></h1>
	      </div>
	      <form method="GET" class="form-horizontal" action="feed">
          <div class="control-group">
		        <label class="control-label" for="url">The feed&apos;s URL:</label>
            <div class="controls">
		          <input type="url" name="url" placeholder="http://domain.tld/path"/>
            </div>
          </div>
          <div class="control-group">
		        <label class="control-label" for="item_num">Number of items to receive:</label>
            <div class="controls">
		          <input type="number" name="item_num" value="5"/>
            </div>
          </div>
          <div class="control-group">
            <label class="checkbox">
            <div class="controls">
			        <input type="checkbox" name="replace_title"/> Replace item title
            </div>
		        </label>
          </div>
          <div class="control-group">
		        <label class="checkbox">
            <div class="controls">
			        <input type="checkbox" name="append_result"/> Append (don&apos;t replace) the content
            </div>
		        </label>
          </div>
          <div class="control-group">
            <div class="controls">
		          <button type="submit" class="btn btn-success">Go <i class="icon-arrow-right icon-white"></i></button>
            </div>
          </div>
	      </form>
      </div>
    </div>
  </body>
</html>
