<!doctype html>
<html>
<head>
<title>ReadableFeeds 0.0.2</title>
<style>
html { background-color: #468; }
body {
	background-color: #feed1c;
	padding: 1em;
	border-radius: 1em;
	width: 29em;
	margin: 10em auto;
}
input[type=submit]{ margin: 1em auto; }
</style>
</head><body>
<h1>ReadableFeeds 0.0.2</h1>
<form method="GET" action="feed">
	<label for="url">URL of the wanted feed:</label>
	<input type="url" name="url" placeholder="http://domain.tld/path"/>
	<br/>
	<label for="item_num">Number of items to receive:</label>
	<input type="number" name="item_num" value="5"/>
	<br/>
	<label for="replace_title">Replace item title:</label>
	<input type="checkbox" name="replace_title"/>
	<br/>
	<label for="append_result">Append (don't replace) the content:</label>
	<input type="checkbox" name="append_result"/>
	<br/>
	<input type="submit" value="GO!"/>
</form>
</body></html>