<!doctype html>
<html>
<head>
<title>ReadableFeeds 0.0.4</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
</head><body class="container">
<div class="hero-unit">
	<div class="page-header">
		<h1>ReadableFeeds <small>0.0.4</small></h1>
	</div>
	<form method="GET" action="feed">
		<label for="url">The feed&apos;s URL:</label>
		<input type="url" name="url" placeholder="http://domain.tld/path"/>
		<label for="item_num">Number of items to receive:</label>
		<input type="number" name="item_num" value="5"/>
		<label class="checkbox">
			<input type="checkbox" name="replace_title"/> Replace item title
		</label>
		<label class="checkbox">
			<input type="checkbox" name="append_result"/> Append (don&apos;t replace) the content
		</label>
		<button type="submit" class="btn btn-primary">go <i class="icon-arrow-right"></i></button>
	</form>
</div>
</body></html>